/* http://paletton.com/palette.php?uid=10v0u0kllllC900rSaGePw08i%2B%2B */

.color-primary-0 { color: #AA6D39 }
.color-primary-1 { color: #000000 }
.color-primary-2 { color: #552D0B }
.color-primary-3 { color: #FFBF89 }
.color-primary-4 { color: #FFDBBD }

body {
    background-color: #AA6D39;

}

header{
    background-color: #000000;
    color: #FFBF89;
}

footer{
    background-color: #FFDBBD;
    color: #552D0B;
}

#LoginStatus{
    position:absolute;
    top: 0;
    right: 0;
}

.rightAlign{
    width: 120px;
    display: inline-block;
    text-align: right;
}

#pageContainer{
    width: 1004px;
    margin-left: auto;
    margin-right: auto;  
        width: 100%;
    max-width: 1024px;
    min-width: 320px; 
}

.navigation a:link{
    color: #FFBF89
}
.navigation a:visited{
    color: #552D0B
}

.navigation{
    color: #000000;
}

.col{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.contact{
    background-color: #FFBF89;
    color: #000000;
}

@media screen and (min-width: 768px){
    .col_25{
        background-color: red;
        width: 25%;
        float:right;
        
    }
    .col_75{
        background-color: blue;
        float:left;
        width: 75%;

    }

}