<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=aura.students.cset.oit.edu; Database=patrick_barnett; User=patrick_barnett;
                          Password=pb1749;" name="oitSqlServer" />
  </connectionStrings>

  <location path="Customers">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Customers/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Customers/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Admin/UserManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Support.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>

    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/404Error.aspx?Source=ASP.NET" />
      <error statusCode="500" redirect="/500Error.aspx?Source=ASP.NET"/>
    </customErrors>

    <trace enabled="true" requestLimit="200" localOnly="true"/>
    <authentication mode="Forms">
      <forms loginUrl="Customers/Login.aspx" />
    </authentication>

    <pages enableSessionState="true"></pages>

    <membership defaultProvider="SqlMembership">
      <providers>
        <add name="SqlMembership"
      type="System.Web.Security.SqlMembershipProvider"
      connectionStringName="oitSqlServer"
      applicationName="CST465"
      enablePasswordRetrieval="false"
      enablePasswordReset="true"
      requiresQuestionAndAnswer="true"
      requiresUniqueEmail="true"
      passwordFormat="Hashed"/>
      </providers>
    </membership>

    <roleManager defaultProvider="SqlRoles" enabled="true">
      <providers>
        <add name="SqlRoles"
            type="System.Web.Security.SqlRoleProvider"
            applicationName="CST465"
            connectionStringName="oitSqlServer" />
      </providers>
    </roleManager>

    <siteMap defaultProvider="SecuredSiteMap">
      <providers>
        <add name="SecuredSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>

  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <clear />
      <error statusCode="404" path="/404Error.aspx?source=WebServer" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/500Error.aspx?source=WebServer" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>